.pricing__headings-content-title {
  margin: 0;
  max-width: 740px;
  padding: 20px 0 40px 0;
  text-align: right;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -3px;
}
