.btn__subscribe-button {
  padding: 13px 48px;
  border: none;
  background-color: #151515;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.btn__subscribe-button:hover {
  background-color: initial;
  color: #151515;
}
