.header {
  display: flex;
  align-items: center;
  max-width: 2280px;
  height: 52px;
  flex-shrink: 0;
}

@media screen and (max-width: 2559px) {
  .header {
    margin: 0 140px;
  }
}
@media screen and (max-width: 1439px) {
  .header {
    margin: 0 80px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    margin: 0 32px;
  }
}

@media screen and (max-width: 360px) {
  .header {
    margin: 0 20px;
  }
}
